@model Models.TeacherCourseVM

@{
    ViewData["Title"] = "Index";
}

<h1>Teacher Course : All courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="TeacherIndex">Your courses</a>
</p>


<form asp-controller="TeacherCourse" asp-action="Index" method="get">
    <p>


        Title: <input type="text" name="searchString" />
        <input type="submit" value="Filter" />

    </p>


</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].courseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].teachername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.courses)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.courseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teachername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.begin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@* Done by Tony and Alexis *@