@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Models.Fee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Payments and Fees</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.deadline)
        </dd>
        

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>